//- Use this mixin to inlude the navbar in your page.
//- This mixin takes a string with the name of the active page
//- Example +navbar("Home") would include the navbar with the 
//- home page set as active

-
	var home = "",
		services = "",
		projects = "",
		about = "", 
		contact = "",
		detailing = "",
		fabrication = "",
		shipping = "",
		erecting = "",
		active = "active";

mixin navbar(activePage)
	-
		activePage = activePage.toLowerCase();
		switch(activePage) {
			case "home":
				home = active;
				break;
			case "projects":
				projects = active;
				break;
			case "about":
				about = active;
				break;
			case "contact":
				contact = active;
				break;
			case "detailing":
				detailing = active;
				services = active;
				break;
			case "fabrication":
				fabrication = active;
				services = active;
				break;
			case "shipping":
				shipping = active;
				services = active;
				break;
			case "erecting":
				erecting = active;
				services = active;
				break;
			default:
				home = active;
		}
	nav.navbar.navbar-default.navbar-fixed-top.affix
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					| Menu 
					i.fa.fa-bars
				a.navbar-brand(href='index.html') Bountiful Enterprises
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li(class=home)
						a(href='index.html') Home
					li.dropdown(class=services)
						a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
							| Services 
							span.caret
						ul.dropdown-menu
							li(class=detailing)
								a(href='detailing.html') Detailing
							li(class=fabrication)
								a(href='fabrication.html') Fabrication
							li(class=shipping)
								a(href='shipping.html') Shipping
							li(class=erecting)
								a(href='erecting.html') Erecting
					li(class=projects)
						a(href='projects.html') Projects
				ul.nav.navbar-nav.navbar-right
					li(class=about)
						a(href='about.html') About
					li(class=contact)
						a(href='contact.html') Contact
